<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<th:block layout:fragment="content">
    <div id="container">
        <!-- tab panes -->
        <h1>User List</h1>
        <div class="one-half">
            <table border="0">
                <th>ID</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th></th>
                <tr th:each="user : ${users}">
                    <td><a th:href="@{/view/user/{uid}(uid=${user.getId()})}" th:text="${user.getId()}">id</a></td>
                    <td th:text="${user.getName()}">name</td>
                    <td th:text="${user.getLastName()}">last name</td>
                    <td th:text="${user.getEmail()}">email</td>
                    <td th:text="${user.getPassword()}">password</td>
                    <td><a th:href="@{/delete/user/{uid}(uid=${user.getId()})}">Διαγραφή</a></td>
                </tr>
            </table>
        </div>
    </div>
</th:block>
</html>
